
.centered
{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.open-button2 {
    background-color: #F16522;
    color: #fafafa;
    font-weight: 700;
    padding: 0.8%;
    border-radius: 24px;
    cursor: pointer;
    opacity: 0.8;
    position:grid;
    bottom: 2%;
    right: 28px;
    width: 154px;
    display: block;
}
.open-button3 {
    background-color: #F16522;
    color: #fafafa;
    font-weight: 700;
    padding: 0.8%;
    border-radius: 24px;
    cursor: pointer;
    opacity: 0.8;
    position:grid;
    bottom: 2%;
    right: 28px;
    width: 154px;
}

.open-button-skip{
    background-color: #F16522;
    color: #fafafa;
    font-weight: 700;
    padding: 0.8%;
    border-radius: 24px;
    cursor: pointer;
    opacity: 0.8;
    position:grid;
    bottom: 2%;
    right: 28px;
    width: 154px;
    margin-left: 10px;
}

.open-button:hover {
  opacity: 1.0;
}
  .chat-popup {
  position: fixed;
  bottom: 5%;
  right: 50px;
}
.arrow {
  border: solid white;
  background-color: #F16522;
  color: #fafafa;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(45deg);
  -webkit-transform: rotate(136deg);
}

.chat-popup2 {
  position: fixed;
  bottom: 5%;
}


#SuggestionBoxBtn{
  // display:block;
  height:50px;
}
.h2{
  color:white;
}

.h1{
  color:white;
}
.thankyou{
    color:white;
    text-align: center;
  }
.h1-usecase{
    color:white;
    margin-bottom: 0px;
  }
.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}

.image{
    display: block;
    margin: 0 auto;
}
.para{
    margin-top: 0px;
    color:white;
}

::placeholder {
    color: white;
}
  
::-ms-input-placeholder { 
   color: white;
}
  
::-ms-input-placeholder { 
   color: white;
} 
.btn-group button {
    background-color: #F16522; 
    border: 1px solid white; 
    color: white; 
    padding: 20px 40px; 
    cursor: pointer; 
    float: left; 
    font-weight: 700;
    padding: 0.8%;
    border-radius: 24px;
    opacity: 0.8;
    position:grid;
    bottom: 2%;
    right: 28px;
    width: 154px;
  }
  input[name= "contacted"] {
    accent-color: #fc7635;
    border: #fafafa;
  }
  
 
