
<div class="centered">
  <div class="container">
    <div class="row">

        <button *ngIf= "SuggestionBoxBtn" id="SuggestionBoxBtn" class="open-button2" (click)= "OpenScreen()" style="width:80%;">Open Suggestion Box</button>
        <div  *ngIf= "showcard1" id="appreciationModule2" class = "chat-popup2" style="padding-top: 0px; padding-bottom: 2%; z-index: 2;">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">

                <img src="assets/img/idea-48.png" style="margin-left: 180px;">
                <h2 class = "h2">Welcome to Suggestion Box</h2>
                <p style="color: white;">Hi Accolitian! We would love to know how can we make our workplace better. Don't worry, you can choose to be anonymous.</p>
                <button style="float: right;background-color: #21a0df; border-width: 0px;" (click)= "OpenScreen1()"> <i class="arrow right"></i></button>
            </div>
        </div>
        <div *ngIf = "showcard2" class = "chat-popup2" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule3">
          <div class=""
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
                <h4 class = "h2">Your Suggestion comes under which Department?</h4>

                <div class="btn-group">
                  <button id="SuggestionBoxBtn"style="width:25%; margin-right:6px" (click)= "OpenScreen2()">Human Resources</button>
                  <button id="SuggestionBoxBtn"style="width:25%;margin-right:6px" (click)= "OpenScreen2()">Infrastructure</button>
                  <button id="SuggestionBoxBtn"style="width:25%;" (click)= "OpenScreen2()">Management</button>
                  <button id="SuggestionBoxBtn"style="width:25%;margin-right:6px" (click)= "OpenScreen2()">IT Support</button>
                  <button id="SuggestionBoxBtn"style="width:25%;margin-right:6px" (click)= "OpenScreen2()">Development</button>
                  <button id="SuggestionBoxBtn"style="width:25%;" (click)= "OpenScreen2()">Marketing</button>
                  <button id="SuggestionBoxBtn"style="margin-left:55px;width:25%;margin-right:6px" (click)= "OpenScreen2()">Finance</button>
                  <button id="SuggestionBoxBtn"style="width:25%;"(click) = "OpenScreen2()">Others</button>
                </div>
            </div>
        </div>
        <div *ngIf = "showcard3" class = "chat-popup2" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule4">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
              <form action = "www.google.com">
                <h3 class = "h1-usecase">1. Short description of your Suggestion(50 words)</h3>
                <p class ="para"> Take your time. We're here to listen.</p>
                <textarea rows="4" cols="50" maxlength="300"></textarea>
                <h3 class = "h1">2. Please type your suggestions here <span style="color: red;">*</span>(eg. Transport related)</h3>
                <input type="text" id = "suggestion1" class="text-line" size="40" maxlength="300" required/><br><br>
                <h3 class = "h1">3. Do you want us to reach out to you regarding your suggestions?</h3>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html" style="color: white;">Yes,I wish to be contacted</label>
                <img src = "assets/img/person.png" height ="32" width = "32"><br>
                <input type="radio" id="html" name="fav_language" value="HTML">
                <label for="html" style="color: white;">No,I wish to remain anonymous</label>
                <img src = "assets/img/ann.png" height ="25" width = "25"><br><br><br>
                <!-- <input type="file" style="display: none;"><button (change)= "onFileSelected($event)"><img ng-src="assets/img/ann.png"/></button> -->
                <!-- <br><br><br> -->
                <input type = "file" accept=".jpg,.jpeg,.png"  (change)= "onFileSelected($event)">
                <button type="submit" style="float: right;background-color: #21a0df; border-width: 0px;" (click)="OpenScreen3()"> <i class="arrow right"></i></button>
              </form>
            </div>
        </div>
        <div *ngIf = "showcard4" class = "chat-popup2" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule7">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
              <img src="assets/thankyouicon-white.svg" class="image" width="100" height="100" >
                <h3 class = "thankyou">Thank you for your response...We will look into it!</h3>
            </div>
        </div>
      </div>
      </div>
</div>
<router-outlet></router-outlet>
