
<div class="centered">
  <div class="container">
    <div class="row">

        <button *ngIf= "SuggestionBoxBtn" id="SuggestionBoxBtn" class="open-button2" (click)= "OpenScreen()" style="width:80%;">Open Suggestion Box</button>
        <div  *ngIf= "showcard1" id="appreciationModule2" class = "chat-popup2" style="padding-top: 0px; padding-bottom: 2%; z-index: 2;">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">

                <img src="assets/img/idea-48.png" style="margin-left: 180px;">
                <h2 class = "h2">Welcome to Suggestion Box</h2>
                <p style="color: white;">Hi Accolitian! We would love to know how can we make our workplace better. Don't worry, you can choose to be anonymous.</p>
                <button style="float: right;background-color: #21a0df; border-width: 0px;" (click)= "OpenScreen1()"> <i class="arrow right"></i></button>
            </div>
        </div>
        <div *ngIf = "showcard2" class = "chat-popup3" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule3">
          <div class=""
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
                <h4 class = "h2">Which Department is your suggestion regarding?</h4>

                <div class="btn-group">
                  <button id="SuggestionBoxBtn"style="width:25%; margin-right:6px" (click)= "OpenScreen2()">Human Resources</button>
                  <button id="SuggestionBoxBtn"style="width:25%;margin-right:6px" (click)= "OpenScreen2()">Infrastructure</button>
                  <button id="SuggestionBoxBtn"style="width:25%;" (click)= "OpenScreen2()">Management</button>
                  <button id="SuggestionBoxBtn"style="width:25%;margin-right:6px" (click)= "OpenScreen2()">IT Support</button>
                  <button id="SuggestionBoxBtn"style="width:25%;margin-right:6px" (click)= "OpenScreen2()">Development</button>
                  <button id="SuggestionBoxBtn"style="width:25%;" (click)= "OpenScreen2()">Marketing</button>
                  <button id="SuggestionBoxBtn"style="margin-left:110px;width:25%;margin-right:6px" (click)= "OpenScreen2()">Others</button>
                </div>
            </div>
        </div>
        <div *ngIf = "showcard3" class = "chat-popup4" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule4">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
                <h3 class = "h1">Please write your suggestions here</h3>
                <input type="text" class="text-line" size="40" maxlength="300"><br>
                <button style="float: right;background-color: #21a0df; border-width: 0px;" (click)="OpenScreen3()"> <i class="arrow right"></i></button>
            </div>
        </div>
        <div *ngIf = "showcard4" class = "chat-popup4" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule5">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
                <h3 class = "h1-usecase">Explain the Usecase in about 50 words</h3>
                <p class ="para"> Take your time. We're here to listen.</p>
                <input type="text" class="text-line" size="40" maxlength="300" placeholder="Please enter your response here"><br>
                <br>
                <div>
                  <button class="open-button3"  (click)= "OpenScreen4()" style="width:15%;">Yes</button>
                  <button class="open-button-skip"  (click)= "OpenScreen4()" style="width:15%;">Skip</button>
                </div>
            </div>
        </div>
        <div *ngIf = "showcard5" class = "chat-popup4" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule6">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
                <h3 class = "h1">Do you want us to reach out to you regarding your suggestions?</h3>
                <div>
                  <button class="open-button3" id="SuggestionBoxBtn" (click)= "OpenScreen5()" style="width:45%;">No,I wish to remain completely anonymous</button><br>
                  <button class="open-button3" id="SuggestionBoxBtn" (click)= "OpenScreen5()" style="width:45%;">Yes,I wish be contacted</button><br>
                </div>
           </div>
        </div>
        <div *ngIf = "showcard6" class = "chat-popup4" style="padding-top: 0px; padding-bottom: 2%; z-index: 3;" id="appreciationModule7">
          <div class="col-12"
              style="float:right;height:auto;box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 30%);
              border: 1px solid #fafafa;padding:15px;width: 418px;
              background-color: #21a0df !important;border-radius: 6px;">
              <img src="assets/thankyouicon-white.svg" class="image" width="100" height="100" >
                <h3 class = "thankyou">Thank you for your response...We will look into it!</h3>
                <!-- <button style="float: right;background-color: #21a0df; border-width: 0px;" > <i class="arrow right"></i></button> --> 
            </div>
        </div>
      </div>
      </div>
</div>
<router-outlet></router-outlet>
